.App {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2; /* Сероватый фон */

}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Отступ между инпутами */
}

.input-row label {
  margin-right: 10px; /* Отступ между меткой и инпутом */
}

canvas {
  margin-top: 20px;
}
.file-input {
  margin-bottom: 10px;;
  font-size: 14px; /* Увеличиваем размер шрифта */
  padding: 10px; /* Добавляем внутренний отступ */
  border: 2px solid #ccc; /* Добавляем рамку */
  border-radius: 5px; /* Закругляем углы */
  background-color: #f9f9f9; /* Добавляем фоновый цвет */
  cursor: pointer; /* Заменяем курсор при наведении */
}

.file-input:hover {
  background-color: #e9e9e9; /* Изменяем фон при наведении */
}

.file-input:active {
  background-color: #ddd; /* Изменяем фон при нажатии */
}
